{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
          <div class="col-sm">
              <h3>Профиль пользователя</h3>
              <br>
                <ul>
                    {% for attribute in user_info %}
                        <li><h5>{{ attribute }}: {{ user_info[attribute] }}</h5></li>
                    {% endfor %}
                </ul>
            </form>
          </div>
          <div class="col-sm">
              <h3>Друзья</h3>
          <br>
              <ul>
            {% for friend in friend_list %}
                    <li><h5><a href="{{ url_for('user', username=friend) }}">{{ friend }}</a></h5></li>
            {% endfor %}
            </ul>
          </div>
          <div class="col-sm">
              <h3>Ваш статус дружбы</h3>
                <br>
              <form action="" method="post">
              {{ form_add.csrf_token() }}
               <div class="form-group">
                    {% if friend_status == None %}
                        <input type="submit" name="form_add" value="Добавить в друзья" class="btn btn-dark btn-block">
                    {% elif friend_status == 0  %}
                        {% if init_friend_request == session['username'] %}
                            <b>Вы отправили заявку в друзья</b>
                        {% else %}
                            <b>Пользователь отправил вам заявку в друзья</b>
                        {% endif %}
                    {% else %}
                        <b>Вы друзья</b>
                        <form action="" method="post">
                        {{ form_delete.csrf_token() }}
                         <div class="form-group">
                             <input type="submit" name="form_delete" value="Удалить из друзей" class="btn btn-dark btn-block">
                        </div>
                    {% endif %}
               </div>
          </div>
    </div>
<div class="container">
{% endblock %}