{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-md-center">
      <div class="col-lg-10">
        <form action="" method="post">
          {{ form.csrf_token() }}
          {% for field in form if field.name != "csrf_token" %}
           <div class="form-group">
                {% if  field.name != "submit" %}
                    {{ field.label }}
                {% endif %}
                {% if  field.name == "submit" %}
                    {{ field(class_="btn btn-dark btn-block") }}
                {% else %}
                    {{ field(class_="form-control") }}
                {% endif %}
                {% for error in field.errors %}
                    <span style="color: red;">{{error}}</span>
                {% endfor %}
           </div>
        {% endfor %}
        </form>
      {% if find_dict %}
        {% for user in find_dict %}
              <ul>
                  <li>Логин: <a href="{{ url_for('user', username=user) }}">{{ user }}</a></li>
                  <li>Имя: {{ find_dict[user]['firstname'] }}</li>
                  <li>Фамилия: {{ find_dict[user]['lastname'] }}</li>
                  <li>Город: {{ find_dict[user]['city'] }}</li>
              </ul>
          {% endfor %}
      {% endif %}
      </div>
    </div>
{% endblock %}